body{
    padding: 10px;
    margin: 20x;
}



.container{
    box-sizing: border-box;
    padding: 5px;
    margin: 2px;
    box-shadow: 0px 0px 10px 2px black;
    border: 2px solid thin black;
    background-color: gray;
    max-height: max-content;
    height:500px;
    width: 320px;
    
    text-align: center;
    
}

.header{
    background-color: rgb(197, 197, 197);
    border: 2px solid black;
    padding: 2px;
    max-height: max-content;
    text-align: center;
}

.header nav{
    background-color: rgb(229, 233, 236);
    border: 2px solid black;
    margin: 2px;
}


.left{
    background-color: rgb(197, 197, 197);
    box-sizing: border-box;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    height: 350px;
    margin: 5px;
    float: left;

}

.left header{
    background-color: rgb(243, 250, 255);
    margin: 3px;
    border: 2px solid black;
}

.left nav{
    background-color: rgb(243, 250, 255);
    border: 2px solid black;
    margin: 3px;
    width: 83px;
    max-height: max-content;
    height: 260px;
    
}

.left footer{
    background-color: rgb(243, 250, 255);
    border: 2px solid black;
    margin: 3px;
    max-height: 20px;
    height: 150px;
    
}


.right{
    background-color: rgb(197, 197, 197);
    box-sizing: border-box;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
    float:right;
    width: 179px;
    max-height: fit-content;
}

.right .fheader{
    background-color: rgb(243, 250, 255);
    margin: 4px;
    border: 2px solid black;
    padding: 2px;
}

.right article{
    background-color: rgb(243, 250, 255);
    max-height: max-content;
    margin: 4px;
    border: 2px solid black;
    padding: 2px;
}

.right article header{
    background-color: rgb(243, 250, 255);
    margin: 2px;
    border: solid thin black;
    padding: 2px;
}

.right article p{
    background-color: rgb(243, 250, 255);
    margin: 2px;
    border: solid thin black;
    padding: 2px;
}

.leftp{
    background-color: rgb(243, 250, 255);
    position: relative;
    width: 90px;
    height: 30px;
}

aside{
    background-color: rgb(243, 250, 255);
    float: right;
    position: relative;
    bottom: 40px;
    width: max-content;
    text-align: center;
    height: 31px;
    margin: 2px;
    border: solid thin black;
    padding: 2px;
}

.right footer{
    background-color: rgb(243, 250, 255);
    position: relative;
    margin: 2px;
    border: solid thin black;
    padding: 2px;
}


.final{
    box-sizing: border-box;
    position: absolute;
    top: 450px;
    background-color: rgb(175, 170, 170);
    border: 2px solid black;
    width: 302px;
    padding: 2px;
    max-height: max-content;
    text-align: center;
}